@primary-color: #FC5859;

@text-size-xs: 20px;
@text-size-sm: 24px;
@text-size-md: 28px;
@text-size-lg: 32px;
@text-size-xlg: 36px;

// 颜色等变量请参考 https://github.com/youzan/vant/blob/dev/src/style/var.less
// 自定义vant默认样式
// @button-primary-background-color: blue;
